* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #0f0f0f;
    color: white;
    text-align: center;
}

/* TOPO */
.topbar {
    background: #8b5cf6;
    padding: 12px 20px;
    display: flex;
    align-items: center;
    gap: 30px;
}

.logo {
    height: 40px;
}

/* TABS */
.tabs a {
    color: white;
    text-decoration: none;
    margin-right: 15px;
    font-weight: bold;
}

.tabs a:active {
    opacity: 0.6;
}

/* CONTEÚDO */
.container {
    padding: 40px;
}

/* BOTÕES (TODOS ROXOS) */
.btn,
button {
    background: #7a4cff;
    color: white;
    border: none;
    padding: 10px 24px;
    cursor: pointer;
    font-weight: bold;
}

.btn:active,
button:active {
    background: #5f35d9;
}

/* ESPAÇAMENTO GERAL DOS TEXTOS */
.container h1 {
    margin-bottom: 20px;
}

.container p {
    margin-bottom: 16px;
    line-height: 1.6;
}

/* ESPAÇO ENTRE INPUTS E BOTÕES */
.container input {
    margin-bottom: 14px;
}

/* INPUTS MAIS BONITOS */
.container input {
    display: block;
    width: 260px;
    margin: 10px auto;
    padding: 10px;
    border-radius: 6px;
    border: none;
}

/* BOTÃO FILE */
.file-btn {
    display: inline-block;
    margin: 10px;
    text-align: center;
}

/* VIDEOS */
.video-card {
    background: #1b1b1b;
    padding: 15px;
    margin: 20px auto;
    width: 320px;
}

.thumb {
    width: 100%;
}

video {
    width: 100%;
    margin-top: 10px;
}

video {
    width: 30%;         /* reduz um pouco a largura */
    max-width: 720px;   /* limita o tamanho máximo */
    height: auto;       /* mantém proporção */
    background: black;
    display: block;
    margin: 20px auto;
    border-radius: 6px;
}


.container h2,
.container p {
    text-align: center;
    margin-top: 10px;
}
